@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/s/monoton/v6/NyzVhrzTK8yWUz1286Kyzw.eot)/*tpa=http://fonts.gstatic.com/s/monoton/v6/NyzVhrzTK8yWUz1286Kyzw.eot*/;
}
