/*------------------------------------------------------------------

Project:	Cleaning Services
Version:	1.1
Assigned to:	Alex Zaymund
Primary use:	Cleaning Services


[Table of contents]

 - Global
 - Header
 - Footer
 - Components
 - Sections
 - Sliders
 - Comments



-------------------------------------------------------------------*/


/* ======= GLOBAL ======= */

body {
	cursor: default;
	
}

.custom-bg{
	background:#ddd;
}


.header-type-2  .logo{
	display:inline-block;
	text-align:center;
	width:100%;
	margin-bottom:20px;
}


.header-type-2  .header-search__form {
    float: right;
    width: 112px;
}

.header-type-2  .top-header{
	display:none;
}


.header-type-2  .header {
    background-color: #f7f7f7;
    border-top: #222 5px solid;
}




.home-image-full {
    position: relative;
    top: -2px;
    left: 0;
    z-index: 12;
    width: 100%;
}


.home-image-full  img{
	    max-width: 1900px;
    margin: 0 auto;
    height: auto;
    width: 100%;
}





.header-type-3   .header-inner{
	display:none !important;
}


.header-type-3 .yamm {
    position: absolute;
    display: inline-block;
    margin-bottom: 0;
    min-height: auto;
    border: 0 none;
    z-index: 777;
    vertical-align: middle;
    margin-top: 0;
    top:100px;
    right: -15px;
}


.header-type-3 .yamm li   a{
	color:#fff ;
}

.header-type-3 .yamm li  ul  a{
	color:#333 ;
}

.header-type-3  .top-nav {
    text-align: center;
    position: relative;
}


.main-slider-full-width{
	    margin-top: 0 !important ;
	
}




body p {
	font-weight: 300;
	line-height: 2;
	color: #878787;
}

.layout-boxed{
	max-width:1200px;
	margin:0 auto;
	background-color:#fff;
}


.layout-boxed  .footer-top{
	padding-left:30px;
	padding-right:30px;

	
}


.layout-boxed  .footer-top .container{
	width:auto !important;
}



 select::-ms-expand {
 display: none;
}
select {
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: '';
	-webkit-appearance: none;
	-moz-appearance: none;
}
select:focus {
	outline-style: none;
}
 input::-webkit-input-placeholder {
 color: #aaa;
}
input::-moz-placeholder {
 color: #aaa;
}
img.pull-right {
	padding-left: 20px;
}
img.pull-left {
	padding-right: 20px;
}
#wrapper {
	max-width:1900px;
	margin: auto;
}
.wrap-title-page {
	margin-top: 42px;
	padding-bottom: 28px;
	overflow: hidden;
}
.ui-title-page {
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 400;
	color: #222;
	text-transform: uppercase;
}
.ui-title-block {
	margin-top: 12px;
	margin-bottom: 35px;
	padding-bottom: 1px;
	padding-left: 10px;
	font-family: Montserrat;
	font-size: 17px;
	border-bottom: 1px solid #aaa;
	text-transform: uppercase;
}
.ui-title-block:after {
	display: block;
	margin-top: 20px;
	margin-left: -10px;
	border-bottom: 2px solid #222;
	content: '';
}
.ui-title-block_small {
	font-size: 15px;
}
.ui-title-block_large {
	margin-bottom: 23px;
	font-size: 20px;
	font-weight: 700;
	text-transform: none;
}
.ui-title-block_mod-a {
	margin-top: 77px;
	padding-bottom: 15px;
	border-bottom: none;
}
.ui-title-block_mod-a:after {
	width: 240px;
	height: 4px;
	margin-top: 34px;
	margin-right: auto;
	margin-left: auto;
	border-top: 2px solid #222;
	border-bottom: 1px solid #222;
}
.ui-title-block .icon {
	padding-right: 8px;
	font-family: FontAwesome;
	font-size: 14px;
	color: #222;
}
.ui-btn {
	padding: 13px 22px 10px;
	font-family: Montserrat;
	font-size: 11px;
	border-width: 1px;
	border-style: solid;
	transition: all 0.3s;
	text-align: center;
	text-transform: uppercase;
}
.ui-btn:hover {
	color: #fff;
	box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.7);
	text-shadow: 0 0 3px #000;
	text-decoration: none;
}
.ui-btn_default {
	color: #222;
	border-color: #aaa;
}
.ui-btn_primary {
	color: #fff;
}
.ui-btn_warning {
	background-color: #fedc56;
}
.border-main {
	border-bottom: 1px solid #eee;
}
.alert .icon {
	margin-top: -6px;
	margin-right: 12px;
	font-size: 22px;
	vertical-align: top;
	;
}
.alert-success .icon {
	color: #1e9c1f;
}
.alert-info .icon {
	color: #1e539c;
}
.alert-warning .icon {
	color: #ba9c24;
}
.alert-danger .icon {
	color: #ba2424;
}
.br {
	display: block;
}
.helper {
	display: inline-block;
	vertical-align: middle;
}
.helper:before {
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
	content: '';
}
/* ======= HEADER ======= */

.header {
	background-color: #f7f7f7;
}
.top-header {
	padding-top: 15px;
	padding-bottom: 10px;
	color: #aaa;
	background-color: #222;
}
.top-header__select {
	float: left;
	margin-right: 19px;
	font-family: 'Roboto Slab';
	font-size: 12px;
}
.top-header__links {
	float: right;
}
.top-header__link {
	display: inline-block;
	margin-left: 24px;
}
.top-header__link a {
	font-family: Montserrat;
	font-size: 11px;
	color: #aaa;
	text-transform: uppercase;
}
.top-header__select .btn_select {
	margin-left: 4px;
	font-family: Montserrat;
	font-size: 11px;
	color: #fff;
	border: 0;
	background-color: transparent;
	text-transform: uppercase;
}
.top-header__select .caret {
	margin-left: 9px;
}
.top-header__select .btn-group {
	vertical-align: top;
}
.header-inner {
	padding-top: 35px;
	padding-bottom: 14px;
}
.header-search {
	position: relative;
	border-width: 1px;
	border-style: solid;
	border-color: #eee;
	background-color: #fff;
}
.header-search__filter {
	position: relative;
	float: left;
	width: 134px;
	margin-top: 10px;
	border-right: 1px solid #eee;
}
.header-search__filter .jelect {
	margin-bottom: 0;
	vertical-align: middle;
	border: none;
}
.header-search__filter .jelect-current, .header-search__filter .jelect-option {
	font-family: Montserrat;
	font-size: 11px;
	text-transform: uppercase;
}
.header-search__filter .jelect_state_active {
	box-shadow: none;
}
.header-search__form {
	float: right;
	width: 431px;
}
.header-search__filter .caret {
	position: absolute;
	top: 5px;
	right: 20px;
	cursor: pointer;
}
.product-search {
	position: relative;
	;
}
.product-search__field {
	width: 100%;
	padding: 14px 100px 14px 10px;
	border: none;
}
.product-search__field:focus {
	outline-style: none;
}
.product-search__btn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px 16px;
	font-size: 13px;
}
.header-cart {
	position: relative;
	float: right;
	padding-bottom: 30px;
}
.header-cart__preview {
	padding-top: 5px;
	z-index: 1010;
	cursor: pointer;
	;
}
.header-cart__preview .icon {
	display: inline-block;
	margin-right: 5px;
	font-size: 32px;
	vertical-align: middle;
}
.header-cart__preview .caret {
	margin-top: 5px;
}
.header-cart__inner {
	display: inline-block;
	margin-right: 17px;
	color: #212121;
	vertical-align: middle;
}
.header-cart__qty {
	display: block;
	margin-top: 3px;
	margin-bottom: 5px;
}
.header-cart__product {
	position: absolute;
	top: 60px;
	right: -5px;
	width: 280px;
	padding: 28px 25px;
	background-color: #fff;
	box-shadow: 0 0 13.2px 1.8px rgba(0, 0, 0, 0.1);
	opacity: 0;
	z-index: -1;
	transition: opacity 0.4s;
}
.header-cart:hover .header-cart__product {
	opacity: 1;
	z-index: 1000;
}
.header-cart__title {
	margin-top: 0;
	padding-bottom: 12px;
	font-family: Montserrat;
	font-size: 13px;
	color: #888;
	border-bottom: 1px solid #aaa;
	text-transform: uppercase;
	;
}
.header-cart .product-list {
	margin-bottom: 20px;
	padding-top: 7px;
}
.header-cart .product-list__item {
	padding-top: 13px;
	padding-bottom: 12px;
	border-bottom: 1px solid #eee;
}
.header-cart .product-list__img {
	float: left;
	width: 65px;
	height: 65px;
	background-color: #f7f7f7;
}
.header-cart .product-list__inner {
	float: left;
	width: 135px;
	padding-left: 15px;
}
.header-cart .product-list__name {
	margin-bottom: 15px;
}
.header-cart .product-list__link {
	display: block;
	font-family: Montserrat;
	font-size: 12px;
	line-height: 1;
	color: #1f1f1f;
}
.header-cart .product-list__price {
	font-size: 14px;
	color: #4b85dc;
}
.header-cart .product-list__total {
	margin-bottom: 30px;
	font-family: Montserrat;
	color: #1f1f1f;
	text-align: right;
	text-transform: uppercase;
}
.header-cart .product-list__model {
	display: block;
	margin-bottom: 4px;
}
.header-cart .product-list__del {
	float: right;
	margin-top: 23px;
	font-size: 18px;
	cursor: pointer;
}
.header-cart .product-list__total_price {
	margin-left: 10px;
	font-family: 'Roboto Slab';
	font-size: 18px;
	color: #4b85dc;
}
.header-cart__buttons .ui-btn:first-child {
	float: left;
}
.header-cart__buttons .ui-btn:last-child {
	float: right;
}
/* --- Navigation --- */

.top-nav {
	border-bottom: 1px solid #eee;
	text-align: center;
}
.nav-label-wrap {
	position: relative;
	top: -11px;
	margin-top: -20px;
}
.nav-label {
	position: relative;
	display: inline-block;
	padding: 5px 6px;
	font-family: Montserrat;
	font-size: 10px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.nav-label_second {
	background-color: #4bb8dc;
}
.nav-label:before {
	position: absolute;
	bottom: -8px;
	left: 6px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent;
	content: '';
}
.nav-label_second:before {
	border-top-color: #4bb8dc;
}
/* ======= FOOTER ======= */

.footer-top {
	padding: 75px 0;
	font-weight: 300;
	background-color: #222;
}
.footer-title {
	margin-top: 8px;
	margin-bottom: 38px;
	padding-bottom: 1px;
	padding-left: 4px;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #888;
	text-transform: uppercase;
}
.footer-title:after {
	display: block;
	margin-top: 16px;
	margin-left: -4px;
	border-bottom: 2px solid #888;
	content: '';
}
.footer-info {
	margin-top: 32px;
}
.footer-info p {
	line-height: 1.66;
}
.footer-info .btn {
	margin-top: 20px;
	margin-left: 6px;
}
.footer-list {
	padding-left: 7px;
	list-style-type: none;
}
.footer-list__item {
	margin-bottom: 11px;
	line-height: 1.2;
}
.footer-list__link {
	transition: all 0.3s;
}
.footer-list__link:hover {
	text-decoration: none;
}
.footer-list__item:before {
	padding-right: 10px;
	font: normal normal normal 15px/1 FontAwesome;
	content: '\f105';
}
.footer-contacts {
	position: relative;
	margin-bottom: 13px;
	padding-left: 36px;
	line-height: 1.6;
}
.footer-contacts .icon {
	position: absolute;
	top: 2px;
	left: 6px;
	padding-right: 12px;
	font-size: 16px;
}
.footer-bottom {
	padding: 40px 0 50px;
	font-size: 11px;
	color: #aaa;
	text-align: center;
}
.list-payments {
	margin-bottom: 20px;
}
.list-payments__item {
	display: inline-block;
	padding: 6px;
	border-radius: 0;
	box-shadow: 0 0 0 0 #fff;
	transition: all 0.3s;
}
.list-payments__item:hover {
	border-radius: 3px;
	box-shadow: 0 0 2px 1px #fff;
}
.footer-nav {
	list-style-type: none;
}
.footer-nav__item {
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
	font-family: Montserrat;
	border-right: 1px solid #aaa;
	text-transform: uppercase;
}
.footer-nav .li-last {
	border-right: none;
}
.footer-nav__link {
	display: block;
	color: #aaa;
	transition: all 0.3s;
}
.footer-nav__link:hover {
	text-decoration: none;
}
.copyright {
	margin-top: 14px;
	text-transform: uppercase;
}
.copyright .br {
	display: inline-block;
}
.footer_mod-a .footer-top {
	color: #ccc;
	background-color: #222;
}
.footer_mod-a .footer-title {
	color: #fff;
}
.footer_mod-a .footer-info p {
	color: #ccc;
}
.footer_mod-a .footer-list__link {
	color: #ccc;
}
.footer_mod-a .footer-bottom {
	background-color: #111;
}
.footer_mod-a .footer-nav__link:hover {
	color: #fff;
}
.footer_mod-b .footer-top {
	color: #888;
	background-color: #f1f1f1;
}
.footer_mod-b .footer-list__link {
	color: #888;
}
.footer_mod-b .footer-nav__link:hover {
	color: #000;
}
/* ======= COMPONENTS ======= */


/* --- Lists --- */

.list {
	padding-left: 0;
	list-style-type: none;
}
.list li, .list-links li a {
	color: #222;
}
.list li {
	font-family: Montserrat;
}
.list-links li a {
	display: block;
	padding: 5px 23px 5px 22px;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: transparent;
	transition: all 0.3s;
}
.list-links li a:hover {
	text-decoration: none;
}
.list-num {
	list-style-type: none;
	counter-reset: num;
}
.list-num li::before {
	padding-right: 15px;
	content: counter(num) '';
	counter-increment: num;
}
.list-markers li:before {
	padding-right: 11px;
	font: normal normal normal 11px/1 FontAwesome;
}
.list-markers_1 li:before {
	content: '\f05d';
}
.list-markers_2 li:before {
	content: '\f061';
}
.list-num li, .list-markers li {
	padding-bottom: 11px;
}
/* --- Accordion --- */

.accordion .panel-heading .btn-collapse {
	position: absolute;
	right: 0;
	display: block;
	height: 100%;
	border-left: 1px solid #eee;
}
.accordion .panel .icon {
	float: right;
	width: 45px;
	height: 100%;
	padding-top: 14px;
	font-size: 18px;
	color: #222;
	background-color: transparent;
	text-align: center;
}
.accordion .panel-heading .collapsed .btn-collapse {
	background-color: transparent;
}
.accordion_mod-1 .panel-default .panel-heading .btn-collapse {
	border-left: transparent;
}
.accordion_mod-1 .panel-default .panel-heading {
	background-color: #eee;
}
.accordion_mod-1 .panel-default .icon {
	color: #fff;
}
.accordion_mod-1 .panel-default .panel-heading .icon:before {
	color: #fff;
	content: '\f0d7';
}
.accordion_mod-1 .panel-heading .icon:before {
	content: '\f0d8';
}
.accordion_mod-2 .panel-default .panel-heading .icon:before {
	content: '+';
}
.accordion_mod-2 .panel-heading .icon:before {
	font-family: Montserrat;
	font-style: normal;
	content: '-';
}
.list-advantages {
	margin-right: -15px;
	margin-left: -15px;
}
.list-advantages__item {
	display: inline-block;
	width: 25%;
	margin-right: -3px;
	padding-right: 15px;
	padding-left: 15px;
}
.list-advantages__link {
	display: block;
	padding-bottom: 30px;
	transition: all 0.3s;
}
.list-advantages__link:hover {
	text-decoration: none;
}
.list-advantages__link:hover .list-advantages__icon {
	border-color: #222;
	background-color: #222;
}
.list-advantages__link:hover .list-advantages__icon .icon {
	color: #fff;
}
.list-advantages__inner {
	display: inline-block;
	width: 170px;
	margin-left: 9px;
	padding-right: 10px;
	vertical-align: middle;
}
.list-advantages__name {
	display: block;
	font-family: Montserrat;
	font-size: 16px;
	color: #212121;
	text-transform: uppercase;
}
.list-advantages__description {
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	color: #888;
}
.list-advantages__icon {
	display: inline-block;
	box-sizing: border-box;
	width: 80px;
	height: 80px;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	border-color: #eee;
	border-radius: 50%;
	background-color: #fff;
	transition: all 0.3s;
	text-align: center;
}
.list-advantages__icon .icon {
	display: inline-block;
	font-size: 28px;
	vertical-align: middle;
	transition: all 0.3s;
}
.list-advantages_mod-b {
	margin-top: -1px;
}
.list-advantages_mod-a .list-advantages__link {
	border-bottom: 1px solid #aaa;
}
.list-advantages_mod-b .list-advantages__link, .list-advantages_mod-c .list-advantages__link {
	padding-top: 60px;
	padding-bottom: 60px;
	border-top: 1px solid #aaa;
}
.list-advantages_mod-c {
	margin-bottom: 20px;
	text-align: center;
}
.list-advantages_mod-c .list-advantages__icon {
	display: block;
	margin-right: auto;
	margin-bottom: 36px;
	margin-left: auto;
}
.list-advantages_mod-c .list-advantages__name {
	margin-bottom: 6px;
}
.list-advantages_mod-c .list-advantages__description {
	display: block;
	margin-bottom: 26px;
	font-size: 11px;
	font-weight: 100;
}
.links-categories {
	margin-top: 30px;
	margin-right: -15px;
	margin-left: -15px;
	text-align: center;
}
.links-categories__item {
	position: relative;
	display: inline-block;
	width: 50%;
	margin-right: -3px;
	margin-bottom: 30px;
	padding-right: 15px;
	padding-left: 15px;
}

.links-categories-3 .links-categories__item{
		width: 32%;
	
}

.links-categories__inner {
	position: relative;
	display: block;
	width: 80%;
	padding-bottom: 1px;
	font-family: Montserrat;
	font-size: 15px;
	color: #212121;
	border-bottom: 1px solid #aaa;
	background-color: #fff;
	transition: all 0.5s;
}
.links-categories__inner:before {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 4px;
	content: '';
}
.links-categories__inner:after {
	display: block;
	margin-top: 11px;
	border-bottom: 2px solid #222;
	content: '';
}

.links-categories__name {
	display: block;
	padding: 13px 20px 1px 40px;
	line-height: 1.2;
	text-align: center;
}
.links-categories__label {
	position: absolute;
	top: 25px;
	left: 10px;
	font-family: Montserrat;
	font-size: 14px;
	transform: rotate(-90deg);
	;
}
.label-wrap {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	left: 0;
}
.label-wrap .label:before, .label-wrap .label:after {
	position: absolute;
	top: 0;
	width: 5px;
	height: 3px;
	background-color: inherit;
	content: '';
}
.label-wrap .label:before {
	left: -5px;
}
.label-wrap .label:after {
	right: -5px;
}
.list-staff {
	margin-right: -14px;
	margin-left: -13px;
	text-align: center;
}
.list-staff__item {
	display: inline-block;
	width: 170px;
	margin-right: 14px;
	margin-left: 13px;
	margin-bottom: 20px;
}
.list-staff__link {
	position: relative;
	display: block;
}
.list-staff__link:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	content: '';
	transition: all 0.3s;
}
.list-staff__item:hover .list-staff__link:after {
	background-color: rgba(0, 0, 0, 0.5);
}
.list-staff__name {
	display: block;
	margin-top: 30px;
	margin-bottom: 5px;
	font-family: Montserrat;
	font-size: 15px;
	transition: all 0.3s;
}
.list-staff__post {
	display: block;
	padding-bottom: 28px;
	font-size: 11px;
	color: #aaa;
	border-bottom: 1px solid #eee;
	text-transform: uppercase;
}
.list-staff-social {
	padding-top: 16px;
	padding-bottom: 14px;
	border-bottom: 1px solid #eee;
}
.list-staff-social__item {
	display: inline-block;
}
.list-staff-social__link {
	display: block;
	padding-right: 16px;
	padding-left: 16px;
	font-size: 14px;
	color: #aaa;
}


.banner-full-w{
   
    padding: 40px 0 100px;
	position:relative;
	width:100%;
	overflow:hidden;
	
}

.pix-parallax-elements{
    background: url(../media/banners/10.jpg)/*tpa=http://html.templines.com/styler/assets/media/banners/10.jpg*/ no-repeat center center;
    position: absolute;
    width: 100%;
    height: 1000px;
    display: inline-block;
	
}


.banner-full-w:after {
	    background-color: rgba(000, 000, 000, 0.2);
    display: inline-block;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
	
	
}


.banner {
	position: relative;
	display: inline-block;
}
.banner__inner {
	position: absolute;
	top: 46px;
	right: 6.58%;
	font-family: Montserrat;
	text-align: right;
}
.banner__title {
	padding: 20px 20px 22px;
	font-size: 28px;
	color: #fff;
}
.banner__info {
	display: inline-block;
	margin-right: -3px;
	padding: 13px 22px;
	font-size: 14px;
	color: #222;
	background-color: #fedc56;
	text-align: center;
	letter-spacing: 0.2em;
}
.banner__btn {
	padding: 19px 17px 16px;
	font-size: 14px;
}
.banner-border {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	border-width: 1px;
	border-style: solid;
}
.banner-border:before, .banner-border:after, .banner-border__inner:before, .banner-border__inner:after {
	position: absolute;
	width: 8px;
	height: 8px;
	content: '';
}
.banner-border:before, .banner-border:after {
	bottom: 0;
}
.banner-border__inner:before, .banner-border__inner:after {
	top: 0;
}
.banner-border:before, .banner-border__inner:before {
	left: 0;
}
.banner-border__inner:after, .banner-border:after {
	right: 0;
}
.banner-border_brown {
	border-color: #ae8a6d;
}
.banner-border_brown:before, .banner-border_brown:after, .banner-border_brown .banner-border__inner:before, .banner-border_brown .banner-border__inner:after {
	background-color: #ae8a6d;
}
.banner-border_yellow {
	border-color: #c7ad49;
}
.banner-border_yellow:before, .banner-border_yellow:after, .banner-border_yellow .banner-border__inner:before, .banner-border_yellow .banner-border__inner:after {
	background-color: #c7ad49;
}
.banner-border_grey {
	border-color: #a8a6a6;
}
.banner-border_grey:before, .banner-border_grey:after, .banner-border_grey .banner-border__inner:before, .banner-border_grey .banner-border__inner:after {
	background-color: #a8a6a6;
}
.wrap-slider {
	margin-right: 0px;
}
.list-posts__article {
	position: relative;
}
.list-posts__info {
	position: relative;
	float: right;
	padding: 22px 19px 1px;
	padding-bottom: 1px;
	font-size: 11px;
	color: #202020;
	border-bottom: 1px solid #aaa;
	background-color: #fff;
}
.list-posts__info:before {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 4px;
	content: '';
}
.list-posts__info:after {
	display: block;
	margin-top: 21px;
	margin-right: -19px;
	margin-left: -19px;
	border-bottom: 2px solid #222;
	content: '';
}
.list-posts__info .icon {
	padding-right: 6px;
	font-size: 15px;
	vertical-align: middle;
}
.list-posts__autor {
	margin-right: 18px;
	vertical-align: middle;
}
.list-posts__date {
	vertical-align: middle;
	display:inline-block;
}
.list-posts__title {
	margin-bottom: 14px;
	font-family: Montserrat;
	color: #202020;
}
.list-posts .footer-panel {
	margin-top: 55px;
}
.list-posts .footer-panel__title {
	margin-right: 10px;
	font-family: Montserrat;
	font-size: 13px;
	color: #212121;
}
.list-posts .tags-group {
	display: inline-block;
}
.list-posts .tags-group li {
	display: inline-block;
}
.list-posts .tags-group a {
	color: #222;
}
.list-posts .tags-group a:hover {
	text-decoration: none;
}
.list-posts_carusel .owl-item {
	padding-right: 30px;
}
.list-posts_mod-a .list-posts__info {
	margin-top: -29px;
}
.list-posts_mod-b .list-posts__info {
	margin-top: -34px;
}
.list-posts_mod-a .list-posts__title {
	margin-top: 74px;
	font-size: 16px;
	font-weight: 400;
}
.list-posts_mod-b .list-posts__title {
	margin-top: 45px;
	font-size: 20px;
	font-weight: 700;
}
.list-posts_mod-a .list-posts__article .btn {
	margin-top: 12px;
}
.list-posts_mod-b .list-posts__article .btn {
	margin-top: 23px;
	margin-left: 3px;
}
.list-posts_mod-a .list-posts__article {
	padding-bottom: 25px;
}
.list-posts_mod-b .list-posts__article {
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #eee;
}
.list-posts_mod-b .list-posts__article:last-child {
	margin-bottom: 0;
}
.list-posts_mod-b p {
	margin-bottom: 10px;
}
.list-posts_mod-b .list-posts__article_mod-b {
	margin-bottom: 23px;
	border-bottom: none;
}
.list-categories {
	overflow: hidden;
}
.list-categories__item {
	margin-bottom: 20px;
}
.list-sidebar__link {
	display: block;
	padding-left: 10px;
	font-size: 11px;
	line-height: 1.2;
}
.list-categories__name {
	display: inline-block;
	width: 195px;
	transition: all 0.3s;
}

.list-categories__amout {
	float: right;
	font-family: 'Roboto Slab';
	font-size: 12px;
	color: #888;
	transition: all 0.3s;
}
.list-categories .dropdown-menu {
	position: relative;
	top: 0;
	float: none;
	padding: 17px 0 0 10px;
	border: none;
	background-color: transparent;
	box-shadow: none;
}
.list-categories .dropdown-menu li a {
	padding-top: 8px;
	padding-bottom: 9px;
	font-size: 11px;
	color: #aaa;
	transition: all 0.3s;
}
.list-categories .dropdown-menu li a:hover {
	color: #000;
}
.list-categories__mark {
	float: right;
	margin-right: 8px;
	font-size: 12px;
	color: #888;
}
.list-categories__item .list-categories__mark:before {
	content: '(+)';
}
.list-categories__item.open .list-categories__mark:before {
	content: '(-)';
}
.list-categories_mod-a .list-categories__item {
	margin-bottom: 10px;
}
.list-categories_mod-a .list-categories__item:last-child {
	margin-bottom: 0;
}
.list-clients__item img {
	margin-right: auto;
	margin-left: auto;
}
.list-clients .owl-controls {
	bottom: -92px;
}
.list-clients .owl-buttons div {
	padding-bottom: 33px;
}
.subscribe {
	position: relative;
	margin-right: 15px;
	margin-left: 15px;
	padding: 27px 53px 12px;
	color: #fff;
	z-index: 10;
	overflow: hidden;
}
.subscribe__icon {
	font-size: 32px;
	vertical-align: middle;
}
.subscribe__inner {
	display: inline-block;
	margin-left: 14px;
	vertical-align: middle;
}
.subscribe__title {
	display: block;
	margin-bottom: 8px;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 700;
}
.subscribe__description {
	display: block;
	font-size: 13px;
	letter-spacing: 0.1em;
}
.subscribe__form {
	float: right;
}
.subscribe .ui-btn {
	padding: 16px 20px;
	font-family: Montserrat;
	font-size: 13px;
	border: none 0;
}
.subscribe .form-control {
	width: 440px;
	max-width: 100%;
	height: 45px;
	margin-right: -3px;
	padding: 15px 20px 10px;
	font-family: Montserrat;
	font-size: 11px;
	vertical-align: top;
	border: none 0;
}
.subscribe .form-control::-webkit-input-placeholder {
 color: #212121;
}
.subscribe .form-control::-moz-placeholder {
 color: #212121;
}
.subscribe_mod-b {
	margin-top: -46px;
	background-color: #222;
}
.social-links {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 18px;
}
.social-links__item {
	display: inline-block;
}
.social-links__link {
	display: inline-block;
	margin-left: 25px;
	padding-right: 6px;
	padding-bottom: 43px;
	padding-left: 6px;
	font-size: 20px;
	color: #aaa;
	border-bottom: 4px solid transparent;
	transition: all 0.3s;
}
.social-links__link:hover {
	color: #aaa;
}
.social-links__title {
	font-family: Montserrat;
	font-size: 15px;
	color: #1f1f1f;
}
.wrap-title-page .pager {
	position: absolute;
	top: 32px;
}
.p-404 {
	max-width: 680px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 135px;
	padding-bottom: 170px;
	font-size: 14px;
	text-align: center;
}
.p-404 .btn {
	padding: 15px 24px;
	font-size: 13px;
	text-transform: uppercase;
}
.p-404 img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.p-404__title {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 37px;
	padding-right: 70px;
	padding-bottom: 1px;
	padding-left: 70px;
	font-family: Montserrat;
	font-size: 20px;
	line-height: 1.2;
	border-bottom: 1px solid #aaa;
	text-transform: uppercase;
}
.p-404__title:after {
	display: block;
	margin-top: 42px;
	margin-right: -70px;
	margin-left: -70px;
	border-bottom: 2px solid #222;
	content: '';
}
.p-404__info {
	margin-bottom: 79px;
}
.p-404__info p {
	line-height: 1.75;
}
.contacts {
	margin-top: 39px;
	margin-bottom: 90px;
}
.contacts__item {
	margin-bottom: 17px;
	line-height: 1.84;
}
.contacts__name {
	float: left;
	width: 86px;
	font-family: Montserrat;
	color: #1f1f1f;
	text-transform: uppercase;
}
.contacts__info {
	display: block;
	margin-left: 84px;
	padding-bottom: 20px;
	font-size: 13px;
	font-weight: 300;
	color: #878787;
	border-bottom: 1px solid #eee;
}
.contacts__other {
	margin-left: 10px;
}
.form-contact {
	margin-bottom: 90px;
}
.form-contact .btn {
	padding: 10px 23px;
	font-size: 13px;
}
/* ======= SECTION ======= */


.section-area {
	position: relative;
}
.section-default {
	padding-top: 75px;
}
.section-list-clients {
	padding-bottom: 120px;
}
.section-social-links {
	margin-top: -46px;
	padding-top: 94px;
	background-color: #f7f7f7;
	text-align: center;
}
.section-advantages {
	margin-top: 40px;
}
.section-banner {
	margin-top: 80px;
}
.section-products-slider {
	margin-top: 30px;
	margin-bottom: 80px;
}
.section-products {
	padding-top: 50px;
}
.section-products_mod-a {
	padding-top: 137px;
	padding-bottom: 130px;
}
.section-about {
	margin-bottom: 75px;
}
.section-404 {
	background: url('../media/p-404/bg.png')/*tpa=http://html.templines.com/styler/assets/media/p-404/bg.png*/ 0 100% no-repeat;
}
.section-contacts {
	margin-left: 30px;
}
.section-map {
	margin-bottom: 47px;
}
.section-list-posts {
	margin-top: 95px;
	margin-bottom: 25px;
}
/* SLIDERS */

.main-slider {
	margin-top: 29px;

}


.main-slider  img{
		    max-width: 1900px;
    margin: 0 auto;
	
}


.main-slider .ui-btn {
	display: inline-block;
	margin-top: 28px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 13px;
	;
}
.main-slider .item {
	position: relative;
}
.main-slider .item-wrap {
	position: absolute;
}
.main-slider_mod-1 .item-wrap {
	top: 67px;
	right: 67px;
	line-height: 1.2;
	text-align: center;
}
.main-slider_mod-1 .slide-title {
	font-family: Montserrat;
	font-size: 24px;
	color: #fff;
}
.main-slider_mod-2 .item-wrap {
	top: 108px;
	left: 274px;
	line-height: 1.2;
}
.main-slider_mod-2 .slide-title {
	font-family: Monoton;
	font-size: 36px;
	font-weight: 400;
	color: #fff;
	text-align: left;
}
/*Loader*/

#page-preloader {
	position: fixed;
	z-index: 100500;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #A09595;
}
#page-preloader .spinner {
	position: absolute;
	z-index: 1001;
	top: 50%;
	left: 50%;
	display: block;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	-webkit-animation: spin 2.5s infinite linear;
	animation: spin 2.5s infinite linear;
	border: 2px solid transparent;
	border-top-color: #15CCC3;
	border-radius: 50%;
}
#page-preloader .spinner:before, #page-preloader .spinner:after {
	position: absolute;
	content: '';
	border-radius: 50%;
}
#page-preloader .spinner:before {
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
	border: 2px solid transparent;
	border-top-color:#A7BB13;
}
#page-preloader .spinner:after {
	top: 15px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
	border: 2px solid transparent;
	border-top-color: #26CD33;
}
@-webkit-keyframes spin {
 0% {
 -webkit-transform: rotate(0);
transform: rotate(0);
}
100% {
 -webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
@keyframes spin {
 0% {
 -webkit-transform: rotate(0);
transform: rotate(0);
}
100% {
 -webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}


/*Sidebar*/





.sidebar {
	padding-bottom: 80px;
}

.widget {
	margin-top: 52px;
}
.widget_first {
	margin-top: 87px;
}
.widget-slider {
	margin-bottom: 75px;
	padding-bottom: 106px;
}
.widget-category {
	margin-top: 0;
	margin-bottom: 30px;
	padding-bottom: 10px;
}
.widget-category .widget-title {
	padding-top: 32px;
}
.widget-category_mod-a {
	background-color: #f7f7f7;
}
.widget-category_mod-a .widget-title {
	margin-top: 0;
	padding-top: 28px;
}
.widget-category_mod-a .widget-title .icon {
	margin-left: 17px;
}

.wp-tag-cloud li {
	display: inline-block;
	margin-right: 7px;
	margin-bottom: 10px;
}
.wp-tag-cloud a {
	display: block;
	padding: 14px 11px;
	color: #202020;
	background-color: #f7f7f7;
	transition: all 0.3s;
}
.wp-tag-cloud a:hover {
	color: #fff;
	text-decoration: none;
}

.widget-search {
	margin-top: 0;
}
.form-search {
	position: relative;
	width: 100%;
	height: 50px;
	border: solid 1px #eee;
}
.form-search__input {
	width: 100%;
	height: 100%;
	padding-right: 40px;
	padding-left: 20px;
	border: none;
}
.form-search__submit {
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 100%;
	padding-right: 0;
	padding-left: 0;
	border: none;
	background-color: transparent;
	text-align: left;
}
.form-search__submit .icon {
	font-size: 15px;
}

.widget-posts__wrap {
	padding: 17px 14px 8px;
	border: solid 1px #eee;
}
.widget-posts__item {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
}
.widget-posts__item:last-child {
	padding-bottom: 0;
	border-bottom: none;
}
.widget-posts .entry-thumbnail {
	float: left;
	width: 100px;
}
.widget-posts .entry-main {
	margin-left: 120px;
}
.widget-posts .entry-header {
	margin-bottom: 22px;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 1.25;
}
.widget-posts .entry-header a {
	color: #1f1f1f;
}
.widget-posts .entry-meta time {
	margin-left: 6px;
	font-size: 11px;
}
.widget-posts .entry-meta .icon {
	font-size: 15px;
}

.wrap-slider-price {
	padding-right: 10px;
	padding-left: 9px;
}
.slider-price__title {
	margin-top: 53px;
	margin-bottom: 25px;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	color: #222;
	text-transform: uppercase;
}
.slider-price__title_first {
	margin-top: 0;
}
.slider-price__wrap-input {
	display: inline-block;
	margin-left: -3px;
	border: 1px solid #eee;
}
.slider-price__input {
	width: auto;
	max-width: 69px;
	padding: 7px 3px 9px;
	border: none;
}
.slider-price__input:focus {
	outline-style: none;
}
.slider-price__btn {
	padding: 11px 13px 9px;
}

.list-price {
	margin-bottom: 0;
}
.list-price__item {
	margin-bottom: 20px;
}
.list-price__item:last-child {
	margin-bottom: 0;
}
.list-price__link {
	display: block;
}
.list-price__name {
	font-family: Montserrat;
	font-size: 11px;
	color: #555;
	text-transform: uppercase;
}
.list-price__amout {
	float: right;
	color: #888;
}



/*Comments */

.comments-list {
	margin-bottom: 58px;
	margin-left: 10px;
}
.comment {
	margin-bottom: 20px;
}
.comment-inner {
	margin-left: 92px;
	padding: 32px 32px 13px 40px;
	border: 1px solid #eee;
}
.avatar-placeholder {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 12px;
	padding: 5px;
	border: 1px solid #eee;
}
.comment-header {
	margin-bottom: 14px;
	overflow: hidden;
}
.comment-datetime {
	float: right;
	margin-right: 10px;
	padding-top: 2px;
	font-family: Montserrat;
	font-size: 11px;
	color: #999;
}
.comment-reply {
	float: right;
}

.comments-list .children {
	margin-left: 70px;
}
.comment-author {
	margin-right: 20px;
	font: normal 14px Montserrat;
	color: #222;
	text-transform: uppercase;
}
.comment-btn {
	padding-left: 12px;
	font-family: Montserrat;
	font-size: 11px;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 2px solid #aaa;
	background-color: transparent;
	text-transform: uppercase;
}

.comment-reply-form {
	margin-bottom: 107px;
}
.comment-reply-form form {
	margin-left: 10px;
}
.comment-reply-form .btn {
	padding: 10px 40px;
	font-size: 13px;
}
